extends ../shared/template

block content
  #signupBG
    #signupDiv
      .well
        if(message)
          .alert(style='color: red')
            p= message

        h1
          span.fa.fa-sign-in Signup
        form(action='/signup', method='post')
          label Email
          input(type='text', name='email')
          br
          label Password
          input(type='password', name='password')
          br
          button(type='submit') Signup

        hr
        p
            | Already have an account?&nbsp
            a(href='/login') Login
          p
            | Or go&nbsp
            a(href='/') home
            | .
