html
  head
    link(href='http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css', rel='stylesheet')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
    link(href='/less/home.css', rel='stylesheet')
  body
    .jumbotron#homePage
      .container
        h1 Pollitic
        p A place where polls on ideology and current events drive the conversation
        a(href='/') Sign Up/Sign In
    .learn-more
      .container
        .row
          .col-md-4
            h3 Travel
            p
              | From apartments and rooms to treehouses and boats: stay in unique spaces in 192 countries.
            p
              a(href='#') See how to travel on Airbnb
          .col-md-4
            h3 Host
            p Renting out your unused space could pay your bills or fund your next vacation.
            p
              a(href='#') Learn more about hosting
          .col-md-4
            h3 Trust and Safety
            p From Verified ID to our worldwide customer support team, we've got your back.
            p
              a(href='#') Learn about trust at Airbnb
