html
  head
    link(href='http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css', rel='stylesheet')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
    link(href='/less/home.css', rel='stylesheet')
  body
    .jumbotron#homePage
      .container
        h1 Pollitic
        p A place where polls on ideology and current events drive the conversation
        a(href='/') Sign Up/Sign In
    .learn-more
      .container
        .row
          .col-md-4
            h3 Politics
            p Discuss the salient issues of the day.
          .col-md-4
            h3 Ideas
            p Leave the sound-bytes to cable news.
          .col-md-4
            h3 Philosophy
            p Delve into the deeper underpinnings.
