extends ../shared/template

block content
  h1= title

  #checkboxes
    h3= poll.question
    each answer in answers
      .checkbox
        input(type='checkbox', data='#{answer}')
        | #{answer}
    button#submitResponse Submit
