extends ../shared/template

block content
  h1= title

  #checkboxes
    h3= polls[(polls.length)-1].question
    each answer, i in polls[(polls.length)-1].answers
      .checkbox
        label
          input(type='checkbox', value='')
          | #{answer}
