extends ../shared/template

block content
  h1= title

  #checkboxes
    .checkbox
      label
        input(type='checkbox', value='')
        | Option 1
    .checkbox
      label
        input(type='checkbox', value='')
        | Option 2
