extends ../shared/template

block content
  #showPageBG
    #showPageDiv
      .well
        h2= poll.title
        #chartdiv
        a(href='/polling') Go Back

block scripts
  script.
    var poll = !{JSON.stringify(poll)}
  script(src='/js/es6/compiled/chart.js')
